In [1]:
import pymysql
import pandas as pd

In [2]:
# MySQL 연결 정보 설정
db_host = '127.0.0.1'
db_user = 'car_accident'
db_password = '1111'
db_name = 'accident'

In [11]:
# MySQL 연결 생성
connection = pymysql.connect(
    host=db_host,
    port=3306, 
    user=db_user, 
    password=db_password, 
    db=db_name,
    charset='utf8mb4'
)

print(type(connection))

<class 'pymysql.connections.Connection'>

In [10]:
df = pd.read_csv("./서울시_일별_시간별_교통사고_현황.csv", encoding="cp949")
df

               발생일  발생시간 발생지_시도 발생지_시군구 법정동명  사고건수  사망자수  중상자수  경상자수  부상신고자수
0       2017-01-01     0     서울     강북구  미아동     1     0     1     6       0
1       2017-01-01     0     서울     노원구  상계동     1     0     0     1       0
2       2017-01-01     0     서울     동작구  상도동     1     0     0     1       0
3       2017-01-01     0     서울     서초구  서초동     1     0     0     1       0
4       2017-01-01     0     서울     송파구  잠실동     1     0     0     1       0
...            ...   ...    ...     ...  ...   ...   ...   ...   ...     ...
114438  2019-12-31    22     서울     송파구  송파동     1     0     0     1       0
114439  2019-12-31    22     서울    영등포구  대림동     1     0     0     1       0
114440  2019-12-31    22     서울     중랑구  면목동     1     0     0     0       1
114441  2019-12-31    23     서울     강남구  수서동     1     0     0     1       0
114442  2019-12-31    23     서울     강남구  역삼동     1     0     0     0       2

[114443 rows x 10 columns]

In [12]:
df.to_csv("서울시_일별_시간별_교통사고_현황_utf.csv", index=False, encoding='utf-8')

In [14]:
df2 = pd.read_csv("./서울시_일별_시간별_교통사고_현황_utf.csv")
df2

               발생일  발생시간 발생지_시도 발생지_시군구 법정동명  사고건수  사망자수  중상자수  경상자수  부상신고자수
0       2017-01-01     0     서울     강북구  미아동     1     0     1     6       0
1       2017-01-01     0     서울     노원구  상계동     1     0     0     1       0
2       2017-01-01     0     서울     동작구  상도동     1     0     0     1       0
3       2017-01-01     0     서울     서초구  서초동     1     0     0     1       0
4       2017-01-01     0     서울     송파구  잠실동     1     0     0     1       0
...            ...   ...    ...     ...  ...   ...   ...   ...   ...     ...
114438  2019-12-31    22     서울     송파구  송파동     1     0     0     1       0
114439  2019-12-31    22     서울    영등포구  대림동     1     0     0     1       0
114440  2019-12-31    22     서울     중랑구  면목동     1     0     0     0       1
114441  2019-12-31    23     서울     강남구  수서동     1     0     0     1       0
114442  2019-12-31    23     서울     강남구  역삼동     1     0     0     0       2

[114443 rows x 10 columns]

In [16]:
# MySQL Cursor 생성
cursor = connection.cursor()

# 테이블 생성 쿼리
create_table_query = '''
    CREATE TABLE IF NOT EXISTS accident_data (
        발생일 DATE NOT NULL,
        발생시간 TIME,
        발생지_시군구 VARCHAR(255) NOT NULL,
        사고건수 INT
    )
'''

# 테이블 생성
cursor.execute(create_table_query)

# UTF-8로 인코딩된 CSV 파일을 읽기
df_utf8 = pd.read_csv("서울시_일별_시간별_교통사고_현황_utf.csv")

# 데이터프레임을 MySQL 테이블로 전송
for index, row in df_utf8.iterrows():
    insert_query = f'''
        INSERT INTO accident_data 
        (발생일, 발생시간, 발생지_시군구, 사고건수) 
        VALUES 
        ('{row['발생일']}', '{row['발생시간']}', '{row['발생지_시군구']}', {row['사고건수']});
    '''
    cursor.execute(insert_query)

# 변경사항 커밋
connection.commit()

In [17]:
# 연결 닫기
connection.close()